<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="w3-theme-l4">
        <div class="w3-container">
           <ul>
            {{range .Results}}
                <li><a href="/rack/{{.ID}}">{{.Display}}</a>   <a href="/rack/{{.ID}}/csv">CSV</a></li>
            {{end}}
           </ul>

        </div>
    </body>
</html>